<!--The content below is only a placeholder and can be replaced.-->
<h1>
  Mein polnisches Wörterbuch
</h1>
<table class="wrapper">
  <tr>
    <th>Polnisch</th>
    <th>Deutsch</th>
  </tr>
    <tr class="list" *ngFor="let translationEntry of myDictionary">
      <td >
        {{translationEntry.polnisch}}
      </td>
      <td>{{translationEntry.deutsch}}</td>
      <button class="add-button" (click)="removeTranslationEntry(translationEntry)">-</button>
    </tr>
  <tr>
    <td>
    <input
      #newPolnischesWort
      placeholder="Polnisch"
      class="polnisch-input"
      id="addItemPolnisch"
    />
    </td>
      <td>
    <input
      #newDeutschesWort
      placeholder="Deutsch"
      class="deutsch-input"
      id="addItemDeutsch"
    />
    </td>
    <button class="add-button" (click)="addTranslationEntry(newDeutschesWort.value, newPolnischesWort.value)">
      +
    </button>
  </tr>
</table>
