<!--The content below is only a placeholder and can be replaced.-->
<h1>
  Mein polnisches Wörterbuch
</h1>
<div class="wrapper">
  <div class="polnisch">
    <label for="addItemInput"></label>
    <input
      #newPolnischesWort
      placeholder="Polnisch"
      (keyup.enter)="addPolnisch(newPolnischesWort.value); newPolnischesWort.value = ''"
      class="polnisch-input"
      id="addItemPolnisch"
    />
    <button class="add-button" (click)="addPolnisch(newPolnischesWort.value)">
      +
    </button>
    <h2>Polnisch</h2>
    <ul>
      <li class="list" *ngFor="let wortPolnisch of woerterPolnisch">
        {{wortPolnisch.polnisch}}
      </li>
    </ul>
  </div>

  <div class="deutsch">
    <input
      #newDeutschesWort
      placeholder="Deutsch"
      (keyup.enter)="addDeutsch(newDeutschesWort.value); newDeutschesWort.value = ''"
      class="deutsch-input"
      id="addItemDeutsch"
    />
    <button class="add-button" (click)="addDeutsch(newDeutschesWort.value)">
      +
    </button>

    <h2>Deutsch</h2>
    <ul>
      <li class="list" *ngFor="let wortDeutsch of woerterDeutsch">
        {{wortDeutsch.deutsch}}
      </li>
    </ul>
  </div>
</div>
